:root {
  --main-text-color: #4C7C9D;  
  --dark-text-color: #053250;
  --button-dark-text-color: #5497D4; 
  --light-text-color: #0000007b;
  --normal-text-color: #000000;
  --primary-text-color: #2A81FC;
  --grey-background-color: #F5F5F5;
  --darkblue-text-color: #012F4E;
}

#root {
  margin: 0 auto;

}
